<!--Top 5 Start-->
<div id="post-list">
  <!-- Rank 1 -->
    <div class="post-preview" style="clear: both">
      <img data-proofer-ignore="false" srcset="/assets/img/Beers/Peroni.JPG" style="width: 150px; height: 150px; object-fit: fill; float: left; margin-right: 10px;"/>
      <h2><a href="/posts/Peroni/">Peroni Libera 0.0%</a></h2>
      <div class="post-content">
        <p>So after my first try of non alcoholic beer in 2007 it took 12 years for me to find a beer worthy of a full 10/10. I spotted it on a random trip to Tesco and even though it was more expensive than any of the previous 30+ beers, I had to give it a try. </p>
      </div>
      <div class="post-meta text-muted d-flex justify-content-between">
        <div>
          <i class="fas fa-hashtag"></i>
          <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="Ranked"       >1</span>
          <i class="fas fa-beer"></i>
          <span  class="timeago" data-toggle="tooltip" data-placement="bottom" title="Rating">My Rating: 10/10<i class="unloaded"></i></span>
        </div>
      </div>
    </div>
  <!-- Rank 2 -->
    <div class="post-preview" style="clear: both">
      <img data-proofer-ignore="false" srcset="/assets/img/Beers/san-mig.JPG" style="width: 150px; height: 150px; object-fit: fill; float: left; margin-right: 10px;"/>
      <h2><a href="/posts/SanMiguel/">San Miguel 0,0</a></h2>
      <div class="post-content">
        <p>So a family trip to Ibiza in 2014 and one of the best non-alcoholic beers. I am not sure if the sun was a factor or that it tasted just like the real San Miguel but it was almost like the best beer I had tasted for such a long time, but my early relationship with San Miguel 0,0 was cut short after a week in Ibiza. </p>
      </div>
      <div class="post-meta text-muted d-flex justify-content-between">
        <div>
          <i class="fas fa-hashtag"></i>
          <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="Ranked"       >2</span>
          <i class="fas fa-beer"></i>
          <span  class="timeago" data-toggle="tooltip" data-placement="bottom" title="Rating">My Rating: 9.5/10<i class="unloaded"></i></span>
        </div>
      </div>
    </div>
  <!-- Rank 3-->
    <div class="post-preview" style="clear: both">
      <img data-proofer-ignore="false" srcset="/assets/img/Beers/Heineken00Draught.JPG" style="width: 150px; height: 150px; object-fit: fill; float: left; margin-right: 10px;"/>
      <h2><a href="/posts/HeinekenDraught/">Heineken Zero (Draught)</a></h2>
      <div class="post-content">
        <p>It was Christmas Eve as I walked into the pub I noticed Heineken Zero was available on draught what a early Christmas present my first ever pint of non-alcoholic beer!!!</p>
      </div>
      <div class="post-meta text-muted d-flex justify-content-between">
        <div>
          <i class="fas fa-hashtag"></i>
          <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="Ranked"       >3</span>
          <i class="fas fa-beer"></i>
          <span  class="timeago" data-toggle="tooltip" data-placement="bottom" title="Rating">My Rating: 9.5/10<i class="unloaded"></i></span>
        </div>
      </div>
    </div>
  <!-- Rank 4-->
    <div class="post-preview" style="clear: both">
      <img data-proofer-ignore="false" srcset="/assets/img/Beers/Heineken00.JPG" style="width: 150px; height: 150px; object-fit: fill; float: left; margin-right: 10px;"/>
      <h2><a href="/posts/Heineken/">Heineken Zero</a></h2>
      <div class="post-content">
        <p>Another road trip this time to the south of France and a stop over in central France for the night delivered another new beer and one that now is a staple in my non-alcoholic beer journey as its available widely in the UK and is the non-alcoholic beer in the new Tottenham hotspur stadium. </p>
      </div>
      <div class="post-meta text-muted d-flex justify-content-between">
        <div>
          <i class="fas fa-hashtag"></i>
          <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="Ranked"       >4</span>
          <i class="fas fa-beer"></i>
          <span  class="timeago" data-toggle="tooltip" data-placement="bottom" title="Rating">My Rating: 9/10<i class="unloaded"></i></span>
        </div>
      </div>
    </div>
  <!-- Rank 5-->
    <div class="post-preview" style="clear: both">
      <img data-proofer-ignore="false" srcset="/assets/img/Beers/BirraMoretti.jpg" style="width: 150px; height: 150px; object-fit: fill; float: left; margin-right: 10px;"/>
      <h2><a href="/posts/BirraMoretti/">Birra Moretti Zero</a></h2>
      <div class="post-content">
        <p>With the Drive behind me it was onto our first meal in Italy on the holiday and my first Italian non-alcoholic beer. This was the non-alcoholic beer I had been waiting for since San Miguel back in 2014.</p>
      </div>
      <div class="post-meta text-muted d-flex justify-content-between">
        <div>
          <i class="fas fa-hashtag"></i>
          <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="Ranked"       >5</span>
          <i class="fas fa-beer"></i>
          <span  class="timeago" data-toggle="tooltip" data-placement="bottom" title="Rating">My Rating: 9/10<i class="unloaded"></i></span>
        </div>
      </div>
    </div>
  </div>
<!--Top 5 End-->  
<!-- #post-list -->
<div id="archives" class="pl-xl-2">
 
    <h1>
      <i class="fas fa-star"></i> My Other Ranked Beers
      <i class="fas fa-star"></i></h1>

  <ul class="list-unstyled">
 <!--Insert other rank merge-->   
<li>
      <div>
        <span class="date day">6:</span>
        <span class="date month small text-muted">9/10</span>
        <a href="/posts/DaysLager/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/DaysLager.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Days Lager</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">7:</span>
        <span class="date month small text-muted">9/10</span>
        <a href="/posts/FreeStar/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/FreeStar.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Free Star</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">8:</span>
        <span class="date month small text-muted">9/10</span>
        <a href="/posts/LostAF/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BrewDogLostAF.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Brewdog Lost AF</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">9:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/Holsten/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Holsten.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Holsten Alcohol-Free</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">10:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/LuckySaint/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/LuckySaint.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Lucky Saint</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">11:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/Moritz/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Moritz.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Moritz 0,0</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">12:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/Pilsner/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Pilsner.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Sainsbury's Pilsner</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">13:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/DoomBar/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Doom.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Doom Bar Zero</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">14:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/FreshStart/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/FreshStart.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Fresh Start</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">15:</span>
        <span class="date month small text-muted">8/10</span>
        <a href="/posts/Bitburger/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BitburgerDrive.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Bitburger Drive</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">16:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/Buckler/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Buckler.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Buckler Pur Malt</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">17:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/Cobra/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/CobraZero.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Cobra Zero</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">18:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/RothausHefe/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/RothausHefe.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Rothaus - Hefe Weizen</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">19:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/RothausTann/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Rothaus.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Rothaus - Tannenzapfle</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">20:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/Veltins/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Veltins.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Veltins Alkoholfrei</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">21:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/SmashedPale/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/SmashedPale.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Smashed Pale</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">22:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/Stella/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Stella.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Stella Artois</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">23:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/Leffe/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/leffe.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Leffe Blond 0,0</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">24:</span>
        <span class="date month small text-muted">7/10</span>
        <a href="/posts/BavariaPrem/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BavariaPremium.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Bavaria Premium 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">25:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/FreeDamm/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/FreeDamm.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Free Damm</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">26:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/HazyAF/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BrewDogHazyAF.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Brewdog Hazy AF</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">27:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/StPeters/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/StPeter.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>St Peters Original</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">28:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/JeverFun/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/JeverFun.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Jever Fun</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">29:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/PunkAF/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/PunkAF.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Brewdog Punk AF</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">30:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/Paulaner/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Paulaner.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Paulaner Alkoholfree</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">31:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/AmstelBier/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/AmstelBier.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Amstel Bier 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">32:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/Warsteiner/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Warsteiner.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Warsteiner Fresh 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">33:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/BigDropPine/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BigDropPine.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Big Drop Pine Trail</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">34:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/Noworries/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/NoWorries.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>No Worries</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">35:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/Clausthaler/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Clausthaler.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Clausthaler non-alcoholic</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">36:</span>
        <span class="date month small text-muted">6/10</span>
        <a href="/posts/BecksBlue/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BecksBlue.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Becks Blue</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">37:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/1664/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/1664.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>1664 Sans Alcool Blonde</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">38:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Ghost Ship/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/GhostShip.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Ghost Ship 0.5%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">39:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Estrella/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/EstrellaGalicia.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Estrella Galicia 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">40:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/LagerBlonde/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Lager0.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Lager Blonde 0,0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">41:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Furstenberg/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/furstenberg-pilsener.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Furstenberg Pilsener 0,0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">42:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/WieckseRadler/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/WieckseRadler.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Wieckse Radler 0,0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">43:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/FruhKolsch/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Fruh.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Fruh Kolsch 0,0</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">44:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Jupiler/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Jupiler.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Jupiler N.A</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">45:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Carlsberg/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Carlsberg.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Carlsberg 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">46:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Feldschlosschen/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Feldschlosschen.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Feldschlosschen</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">47:</span>
        <span class="date month small text-muted">5/10</span>
        <a href="/posts/Hoegaarden/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Hoegaarden.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Hoegaarden 0,0</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">48:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/BigDropUptown/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BigDrop.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Big Drop Uptown</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">49:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/DrinkIN/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/DrinkIn.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Drink'In the Sun</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">50:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Lazer/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Lazer.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Beavertown Lazer Crush</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">51:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/SanMiguelManzana/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/san-mig-man.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>San Miguel Manzana 0,0</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">52:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Sport/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/SportZot.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Sport Zot</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">53:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Wheesht/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Wheesht.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Wheest Dark Ale</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">54:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Brooklyn/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Brooklyn.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Brooklyn Special Effects</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">55:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Budweiser/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BudProhibition.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Budweiser Prohibition</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">56:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/BudweiserBudvar/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BudweiserBudvar.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Budweiser Budvar B:Free</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">57:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/BrewdogNanny/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BrewDogNanny.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Brewdog Nanny State</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">58:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Erdinger/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Erdinger.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Erdinger Alkoholfrei</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">59:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/Franziskaner/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Franziskaner.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Franziskaner Alkoholfrei</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">60:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/SchenigerWeisse/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/SchneiderWeisse.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Scheniger Weisse</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">61:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/BavariaWit/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BavariaWit.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Bavaria Wit 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">62:</span>
        <span class="date month small text-muted">4/10</span>
        <a href="/posts/WieckseRose/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/WieckseRose.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Wieckse Rose 0,0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">63:</span>
        <span class="date month small text-muted">3/10</span>
        <a href="/posts/Nirvana/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Nirvana.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Nirvana Pale Ale 0.0%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">64:</span>
        <span class="date month small text-muted">3/10</span>
        <a href="/posts/Kronenbourg/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Kronenbourg.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Kronenbourg Pur Malt</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">65:</span>
        <span class="date month small text-muted">3/10</span>
        <a href="/posts/InnisNone/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/INNIS.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Innis & None</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">66:</span>
        <span class="date month small text-muted">3/10</span>
        <a href="/posts/BecksLemon/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/BecksLemon.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Becks Blue Lemon</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">67:</span>
        <span class="date month small text-muted">2/10</span>
        <a href="/posts/DoubleStrike/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/DoubleStrike.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Big Drop Double Strike</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">68:</span>
        <span class="date month small text-muted">1/10</span>
        <a href="/posts/AmstelRadlerGrapefruit/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/AmstelBierGrape.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Amstel 0.0% Grapefruit</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">69:</span>
        <span class="date month small text-muted">1/10</span>
        <a href="/posts/Tropica/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Tropica.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Tiny Reel CLWB Tropica</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">70:</span>
        <span class="date month small text-muted">0.5/10</span>
        <a href="/posts/Prestige/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/Prestige.jpg" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Prestige Pur Malt <1%</a>
      </div>
</li> 
<li>
      <div>
        <span class="date day">71:</span>
        <span class="date month small text-muted">0/10</span>
        <a href="/posts/BigDropMilk/">
       <img data-proofer-ignore="false" srcset="/assets/img/Beers/GALACTIC.JPG" style="width: 45px; height: 45px; object-fit: fill; margin-right: 10px;"/>Big Drop Galactic</a>
      </div>
</li> 


  
 <!--End of other rank-->
  </ul>
</div>
