---
layout: post
---
<img data-proofer-ignore="" data-src="{{page.image.src}}" alt="Beer"
                        src="{{page.image.src}}" data-loaded="true" width="200px">
                        
<div class="table-wrapper">
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{page.title}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{page.country}}</td>
            </tr>
            <tr>
                <td>ABV</td>
                <td>{{page.abv}}</td>
            </tr>
            <tr>
                <td>Ingredients</td>
                <td>{{page.ingredients}}</td>
            </tr>
            <tr>
                <td>Released</td>
                <td>{{page.released}}</td>
            </tr>
            <tr>
                <td>My First Taste</td>
                <td>{{page.firsttaste}}</td>
            </tr>
            <tr>
                <td>My Rating</td>
                <td>{{page.rating}}</td>
            </tr>
            <tr>
                <td>Website</td>
                <td>{{page.website}}</td>
            </tr>
        </tbody>
    </table>
</div>

<p>{{page.paragraph1}}</p>
<p>{{page.paragraph2}}</p>
<p>{{page.paragraph3}}</p>

<h2 id="follow-my-non-alcoholic-beer-journey"><a href="/posts/non-alcoholic-beers/">Follow my Non-Alcoholic Beer
        Journey</a></h2>